@use '../abstracts/variables' as *;
@use "../abstracts/mixins" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
span {
  margin: 0;
  padding: 0;
}
img{
  object-fit: cover;
  max-width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
html {
  font-size: 62.5%;
  @include respond-phone {
    font-size: 50%;
  }
}
body {
  box-sizing: border-box;
}


