@use '../abstracts/variables' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
span {
  margin: 0;
  padding: 0;
}
img{
  object-fit: cover;
  max-width: 100%;
}
ul {
  list-style: none;
}
html {
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}
