@use '../abstracts/variables' as *;

@mixin font-title-description {
  font-size: $default-font-size;
  text-transform: uppercase;
  color: $color-grey-dark;
}
@mixin font-text-description {
  font-size: $default-font-size;
  color: $color-grey-dark;
  max-width: 75ch;
}
@mixin section-link {
  color: $color-primary;
  display: flex;
  padding: 0 0.5rem 0.5rem 1rem;
  border-bottom: 1px solid $color-primary;
  border-radius: 3px;
  max-width: max-content;
  font-size: $default-font-size;
  text-decoration: none;
  font-weight: 400;
  transform: scale(1);
  transition: all ease 0.3s;
  height: 3.2rem;

  &:hover {
    color: $color-grey-light-1;
    background-image: linear-gradient(
      to left top,
      rgb($color-primary-dark, 1),
      rgb($color-primary-light, 1)
    );
    transform: scale(1.1);
    box-shadow: 0 2px 10px rgba($color-black, 0.4);
  }
}
@mixin container-size {
  max-width: 160rem;
  margin: 0 auto;
}
@mixin img-settings {
  box-shadow: 0px 15px 45px $color-grey-dark-2;
}
@mixin img-hover {
  outline: 1.2rem solid $color-primary;
  outline-offset: 2rem;
  border-radius: 0.2rem;
  z-index: 1;
  transform: scale(1.05) translateY(-0.5rem);
  transition: all ease-in-out 0.3s;
}

// !MÉDIA
/* 
-----------------------------------------------. 
!argumento do $breakpoint                      | 
...............................................| 
320px - 600px  mobile phone = phone            |
600px - 900px tablet-portrait = tab-port       |
900px - 1200px tablet-landscape = tab-land     |
1200px - 1800px tamanho normal do browser      |
1800px + big desktop = big-desktop      
xxpx/16px = xxem       |
-----------------------------------------------°
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) /* 600px/16px */{
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) /* 900px/16px */{
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) /* 1200px/16px */{
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media (max-width: 112.5em) /* 1800px/16px */{
      @content;
    }
  }
}
