// COLORS
$color-primary: #b25ee2;
$color-primary-light: #4fa6ec;
$color-primary-dark: #bb02c2;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff0000;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: clamp(1.4rem, 1.8vw, 1.6rem);

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
