@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.popup {
  background-color: rgba($color-black, 0.8);
  height: 110vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 99999;
  // transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2.47s cubic-bezier(0.1, -0.55, 0.265, 1.55);
  padding: 0 1rem;

  &__close {
    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2rem;
      right: 2.5rem;
      font-weight: 500;
      font-size: 4rem;
      text-decoration: none;
      display: block;
      transition: all 0.3s;
      border: 0.3rem solid $color-grey-dark;
      border-radius: 50%;
      line-height: 3.2rem;
      height: 4rem;
      width: 4rem;
      text-align: center;
      align-items: center;
    }

    &:hover {
      color: $color-primary;
      border: 0.3rem solid $color-primary;
    }
  }

  &__content {
    display: flex;
    background-color: $color-grey-light-1;
    max-width: max-content;
    gap: 1.5rem;
    max-width: 90rem;
    position: relative;
    border-radius: 0.6rem;
    transition: all 1.47s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateY(100rem);

    &__imagem {
      max-width: 30rem;
      display: none;
      flex-direction: column;
      object-fit: cover;
      height: 100%;
      min-width: 31rem;

      @include respond(tab-port) {
        display: flex;
      }

      img:not(:last-child) {
        border-radius: 0.5rem 0 0 0;
      }

      img:nth-child(even) {
        border-radius: 0 0 0 0.5rem;
      }
    }
    &__description {
      display: grid;
      padding: clamp(1rem, 2vw, 2rem);
      gap: clamp(1rem, 1.5vw, 1.5rem);

      h2 {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2rem;
        font-size: 3rem;
        max-width: max-content;

        &:hover {
          transform: skewY(0) skewX(0) scale(1.1);
          text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
        }
      }

      h3 {
        @include font-title-description;
        font-size: 1.6rem;
      }

      p {
        font-size: 1.4rem;
        @include font-text-description;
        margin-bottom: 2rem;
        hyphens: auto;

        @include respond(tab-port) {
          -webkit-column-count: 2;
          -moz-column-count: 2;
          column-count: 2;
          column-rule: 0.1rem solid $color-grey-dark-2;
          column-gap: 4rem;
        }
      }

      .btn {
        place-self: flex-start;
        font-size: 1.8rem;
      }
    }
  }
  &:target {
    opacity: 1;
    visibility: visible;

    .popup__content {
      transform: translateY(0);
    }
  }
}
