@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;

.popup {
  background-color: rgba($color-black, 0.8);
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 99999;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    

    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2rem;
      right: 2.5rem;
      font-weight: 500;
      font-size: 4rem;
      text-decoration: none;
      display: block;
      transition: all 0.3s;
      border: 3px solid $color-grey-dark;
      border-radius: 50%;
      line-height: 3.2rem;
      height: 4rem;
      width: 4rem;
      text-align: center;
      align-items: center;
    }

    &:hover {
      color: $color-primary;
      border: 3px solid $color-primary;
    }
  }

  &__content {
    display: flex;
    background-color: $color-grey-light-1;
    max-width: max-content;
    gap: 1.5rem;
    max-width: 90rem;
    position: relative;

    &__imagem {
      max-width: 30rem;
      display: flex;
      flex-direction: column;
      object-fit: cover;
      height: 100%;
      min-width: 31rem;
    }
    &__description {
      display: grid;
      padding: clamp(1rem, 2vw, 2rem);
      gap: clamp(1rem, 1.5vw, 1.5rem);

      h2 {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2rem;
        font-size: clamp(2rem, 3vw, 3rem);
        max-width: max-content;
       
      }

      h3 {
        @include font-title-description;
        font-size: clamp(1rem, 1.6vw, 1.6rem);
      }

      p {
        font-size: clamp(0.8rem, 4vw, 1.4rem);
        @include font-text-description;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        column-rule: 1px solid $color-grey-dark-2;
        column-gap: 4rem;
        margin-bottom: 2rem;
        hyphens: auto;
      }

      .btn {
        place-self: flex-start;
        font-size: clamp(1rem, 1.8vw, 1.8rem);
      }
    }
  }
}
