@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.tours {
  display: grid;
  background-color: $color-grey-light-1;
  margin-top: -25rem;
  padding-top: 30rem;
  padding-bottom: 12rem;
  height: 100%;
  h2 {
    margin-bottom: 12rem;
  }

  &__cards {    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40rem;
    @include container-size;
    margin-bottom: 50rem;
    max-width: 120rem;
    

    @include respond(tab-land) {
      gap: 6rem;
      margin-bottom: 10rem;
    }
  }
}
